.header-container {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    margin: 0;
}

.user-icon-container {
    margin-left: auto; /* Dịch chuyển biểu tượng người dùng về bên phải */

    cursor: pointer; /* Thêm dòng này để biểu tượng con trỏ xuất hiện khi trỏ vào biểu tượng người dùng */
}

.user-icon {
    font-size: 20px;
}
